@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

html{
  min-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  background-image: url("/images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", "sans-serif";
  font-size: 16px;
  color: white;
}


.container {
  margin: 0 auto;
  max-width: 80%;
  display: grid;
  grid-template-columns: 600px 1px 540px;
  grid-template-rows: 650px;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 2.5em;
}

h1 {
  font-size: 3em;
  line-height: 45px;
}

.main-text {
  width: 550px;
}

.left {
  grid-column: 1/2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.right {
  grid-column: 3/4;
}

.banner {
  text-align: center;
  background-color: hsl(248, 32%, 49%);
  margin-top: 85px;
  padding: 20px 100px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 0px 0px rgba(22, 20, 20, 0.2);
  -moz-box-shadow: 0px 10px 0px 0px rgba(22, 20, 20, 0.2);
  box-shadow: 0px 10px 0px 0px rgba(22, 20, 20, 0.2);
}

.banner.error {
  margin-top: 35px;
}

form {
  background-color: white;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 40px;
  /* margin-top: 1em; */
  -webkit-box-shadow: 0px 10px 0px 0px rgba(22, 20, 20, 0.2);
  -moz-box-shadow: 0px 10px 0px 0px rgba(22, 20, 20, 0.2);
  box-shadow: 0px 0.5em 0px 0px rgba(22, 20, 20, 0.2);
}

.form {
  height: 80px;
  margin: 0;
}

form.error {
  height: 480px;
}

.form.error{
  position: relative;
  margin-bottom: 20px;
}

input {
  font-family: "Poppins", "sans-serif";
  font-weight: 500;
  min-width: 405px;
  display: block;
  margin-bottom: 20px;
  padding: 1.3em 2em;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  transition: border 0.15s ease-in;
  outline: none;
}

input:focus {
  border: 1.2px solid hsl(248, 32%, 49%);
}

.form.error > input{
  border: 1.2px solid hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
  margin: 0;
}

.form.error > input:focus {
  border: 1.2px solid hsl(0, 100%, 74%);
}

.form.error > i {
  color: hsl(0, 100%, 74%);
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

.form.error .message {
  color: hsl(0, 100%, 74%);
  text-align: end;
  margin-top: 0;
  padding: 5px 15px;
  font-size: 11px;
  font-style: italic;
}

button {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  background-color: hsl(154, 59%, 51%);
  padding: 20px;
  border-radius: 5px;
  border-style: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(16, 150, 76, 1);
  -moz-box-shadow: 0px 3px 0px 0px rgba(16, 150, 76, 1);
  box-shadow: 0px 3px 0px 0px rgba(16, 150, 76, 1);
}

button:hover {
  background-color: hsl(154, 59%, 60%);
}

button:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#terms {
  color: hsl(246, 25%, 77%);
  font-size: 11px;
  text-align: center;
  margin: 0;
  padding-top: 1.5em;
}

form span {
  font-weight: bold;
  color: hsl(0, 100%, 74%);
}

footer{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media all and (max-width: 425px) {
  html{
    max-width: 425px;
    min-width: 375px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  h1{
    font-size: 25px;
    text-align: center;
    line-height: 35px;
  }

  div.left {
    width: 300px;
    align-self: center;
  }

  .main-text{
    text-align: center;
    width: inherit;
    font-size: 15px;
    margin: 5px 0;
  }

  .banner{
    margin-top: 45px;
    padding: 20px 50px;
    font-size: 15px;
    margin-bottom: 25px;
    font-weight: lighter;
  }

  form{
    max-height: 450px;
    height: 330px;
    padding: 25px;
  }

  form.error {
    height: 370px;
  }
  
  .form{
    height: 60px;
    min-width: 100%;
  }

  .form.error{
    margin: 5px;
  }
  
  input {
    min-width: 0;
    width: 100%;
    padding: 1em 1.2em;
    box-sizing: border-box;
  }

  .form.error > i {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
  }
  
  .form.error .message {
    padding: 0px 3px;
    font-size: 11px;
    font-style: italic;
    margin: 0;
  }

  button{
    width: inherit;
    height: 45px;
    padding-top: 15px;
    margin-top: 5px;
  }

  footer{
    font-size: 15px;
  }
}
