@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

html,body {
  position: relative;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-image: url("/images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", "sans-serif";
  font-size: 16px;
  color: white;
}

h1 {
  font-size: 3em;
  line-height: 45px;
}

.container {
  margin: 0 auto;
  width: 75%;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  top: 10%;
}

.left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.banner {
  text-align: center;
  background-color: hsl(248, 32%, 49%);
  padding: 20px 100px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 0px 0px rgba(22, 20, 20, 0.2);
  -moz-box-shadow: 0px 10px 0px 0px rgba(22, 20, 20, 0.2);
  box-shadow: 0px 10px 0px 0px rgba(22, 20, 20, 0.2);
}

form {
  background-color: white;
  height: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 40px 50px;
  margin-top: 1.5em;
  -webkit-box-shadow: 0px 10px 0px 0px rgba(22, 20, 20, 0.2);
  -moz-box-shadow: 0px 10px 0px 0px rgba(22, 20, 20, 0.2);
  box-shadow: 0px 10px 0px 0px rgba(22, 20, 20, 0.2);
}

input {
  margin-bottom: 1.5em;
  padding: 1.5em 2.5em;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
}

button {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  background-color: hsl(154, 59%, 51%);
  padding: 20px;
  border-radius: 5px;
  border-style: none;
  -webkit-box-shadow: 0px 10px 0px 0px rgba(16, 150, 76, 1);
  -moz-box-shadow: 0px 10px 0px 0px rgba(16, 150, 76, 1);
  box-shadow: 0px 3px 0px 0px rgba(16, 150, 76, 1);
}

form > p {
  color: hsl(246, 25%, 77%);
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

form span {
  font-weight: bold;
  color: hsl(0, 100%, 74%);
}



footer{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}